.description {
    height: 600px;
    border: 1px solid #EAEAEA;
    margin-top: -60px;
    margin-bottom: 129px;
    position: relative;
    background-color: #fff;
    & hr {
        color:#EAEAEA;
        width: 640px;
        margin-top: 65px;
    }
    &__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        padding-top: 65px;
        padding-bottom: 12px;
    }
    &__line {
        background-image: url("img/line.svg");
        background-repeat: no-repeat;
        width: 63px;
        height: 3px;
    }
    &__header {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
        padding-top: 12px;
    }
    &__content {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #5E5E5E;
        padding-top: 49px;
        width: 555px;
    }
    &__price {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #EF5B70;
        padding-top: 32px;
    }
    &__choice {
        padding-top: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        & details {
            cursor: pointer;
        }
    }
    &__menu {
        &-name {
            padding-right: 9px;
            & svg {
                padding-right: 23px;
            }
        }
    }
    & button {
        display: flex;
        justify-content: center;
        margin-top: 49px;
        cursor: pointer;
        & svg {
            fill: #EF5B70;
            padding-right: 23px;
        }
        & svg:hover {
            fill: #fff;
        }
    }
    &__button {
        &-add {
            padding: 15px 56px 14px 32px;
            border: 1px solid #FF6A6A;
            background-color: #fff;
            font-size: 16px;
            line-height: 19px;
            color: #F26376;
            transition: all 1s;
            &:hover {
                background-color: #F26376;
                color: #fff;
                transform: rotate(360deg) scale(1.5);
            }
        }
    }
}